﻿@model IEnumerable<Uber.SDK.Models.UserHistory>
@{
    ViewBag.Title = "TableView";
}
@section Scripts
{
    @Scripts.Render("~/bundles/HistoryController")
    @Scripts.Render("~/bundles/DataTable")

}
@section Styles
{
    @Styles.Render("~/bundles/DataTable/css")
}
<h2>TableView</h2>
<div>
    <table class="table" id="historyTableId">
        <thead>
            <tr>
                <th>City</th>
                <th>Start Time</th>
                <th>End Time</th>
                <th>Start Adress</th>
                <th>End Adress</th>
                <th>Distance</th>
                <th>Status</th>
                <th>TestCheckBox</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var historyElement in Model)
            {

                <tr>
                    <td>@historyElement.City.DisplayName</td>
                    <td>@historyElement.StartTime</td>
                    <td>@historyElement.EndTime</td>
                    <td>@historyElement.City.Latitude</td>
                    <td>@historyElement.City.Longitude</td>
                    <td>@historyElement.Distance</td>
                    <td>@historyElement.Status</td>
                    <td>Test</td>

                </tr>
            }
        </tbody>
    </table>
</div>

