﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Uber API - @ViewBag.Title</title>
    @Styles.Render("~/Content/bootstrapBundle")
    @RenderSection("Styles", false);
    @*<style type="text/css" src="@Url.Content("~/Styles/bootstrap.css")"></style>*@
</head>
<body>
    @Scripts.Render("~/bundles/jquery")
    @RenderSection("Scripts", false);

    <h1>Uber API</h1>
    <a href="/">Home</a>
    @RenderBody()


</body>
</html>
